In [32]:
import pandas as pd

# Charger le fichier Excel
file_path = "DATA v2 (1).xlsx"
xls = pd.ExcelFile(file_path)

# Liste des feuilles à charger
sheet_names = xls.sheet_names

# Dictionnaire pour stocker les DataFrames nettoyées
df_cleaned = {}

In [25]:
sheet_names

['customer', 'geography', 'shops', 'sales']

In [33]:
# Charger et nettoyer les données de chaque feuille
for sheet in sheet_names:
    df = xls.parse(sheet)

    # Suppression des colonnes inutiles (exemple de la feuille 'sales')
    if 'Unnamed: 0' in df.columns:
        df = df.drop(columns=['Unnamed: 0'], errors='ignore')

    # Exemple pour détecter et supprimer des valeurs aberrantes pour la colonne 'Ventes bruts'
    if 'Ventes bruts' in df.columns:
        df = df[df['Ventes bruts'] <= 255]

    # Ajouter le DataFrame nettoyé au dictionnaire
    df_cleaned[sheet] = df

In [34]:
# Sauvegarder les DataFrames nettoyées dans un nouveau fichier Excel
output_file_path = "dataframe_clean.xlsx"
with pd.ExcelWriter(output_file_path) as writer:
    for sheet, df in df_cleaned.items():
        df.to_excel(writer, sheet_name=sheet, index=False)

In [35]:
print("Structure du DataFrame nettoyé :")
for sheet, df in df_cleaned.items():
    print(f"\nAnalyse de la feuille : {sheet}")
    print("Aperçu des premières lignes :")
    print(df.head())  # Affiche les 5 premières lignes du DataFrame
    print("\nInformation générale sur la structure :")
    print(df.info())  # Affiche les types de données, nombre de valeurs non-nulles, etc.
    print("\nValeurs manquantes par colonne :")
    print(df.isnull().sum())  # Affiche le nombre de valeurs manquantes par colonne
    print("-" * 50)

Structure du DataFrame nettoyé :

Analyse de la feuille : customer
Aperçu des premières lignes :
   CustomerID CustomerType  MemberCard  GeographyID
0     7256534         BtoC       False          NaN
1     9761503         BtoC       False          NaN
2     2831142         BtoC       False          NaN
3     8525325         BtoC        True       1002.0
4     7740655         BtoC       False          NaN

Information générale sur la structure :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81358 entries, 0 to 81357
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    81358 non-null  int64
 1   CustomerType  81358 non-null  object
 2   MemberCard    81358 non-null  bool
 3   GeographyID   21687 non-null  float64
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 1.9+ MB
None

Valeurs manquantes par colonne :
CustomerID          0
CustomerType        0
MemberCard          0
GeographyID     59671
dtype: int64
--------------------------------------------------

Analyse de la feuille : geography
Aperçu des premières lignes :
   GeographyID                      Region        Department Country  \
0         1001               Ile de France             Paris  France
1         1002        Auvergne-Rhône-Alpes             Rhône  France
2         1003  Provence-Alpes-Côte d'Azur  Bouches-du-Rhône  France
3         1004            Pays de la Loire  Loire-Atlantique  France
4         1004            Pays de la Loire  Loire-Atlantique  France

        City  ZipCode
0      Paris    75001
1       Lyon    69001
2  Marseille    13001
3     Nantes    44000
4     Nantes    44000

Information générale sur la structure :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GeographyID  5 non-null      int64
 1   Region       5 non-null      object
 2   Department   5 non-null      object
 3   Country      5 non-null      object
 4   City         5 non-null      object
 5   ZipCode      5 non-null      int64
dtypes: int64(2), object(4)
memory usage: 372.0+ bytes
None

Valeurs manquantes par colonne :
GeographyID    0
Region         0
Department     0
Country        0
City           0
ZipCode        0
dtype: int64
--------------------------------------------------

Analyse de la feuille : shops
Aperçu des premières lignes :
   shop_id           Name  GeographyID    Costs
0        1     Super-Miam         1001  1040300
1        2          Tosco         1002   405000
2        3     Marché fun         1003   300200
3        4  Joyeux marché         1004   215000

Information générale sur la structure :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   shop_id      4 non-null      int64
 1   Name         4 non-null      object
 2   GeographyID  4 non-null      int64
 3   Costs        4 non-null      int64
dtypes: int64(3), object(1)
memory usage: 260.0+ bytes
None

Valeurs manquantes par colonne :
shop_id        0
Name           0
GeographyID    0
Costs          0
dtype: int64
--------------------------------------------------

Analyse de la feuille : sales
Aperçu des premières lignes :
   SalesID        Date  Ventes bruts  Ventes nets PaymentType  CustomerID  \
0  3777356  01/03/2022            25          7.5        Card     3724597
1  4874929  01/03/2022            50         15.0        Card     6637099
2  1657920  01/03/2022            20          6.0        Card     3537814
3  1699731  01/03/2022            25          7.5        Cash     2178411
4  2353804  01/03/2022            25          7.5        Cash     7453049

   shop_id
0        4
1        1
2        1
3        1
4        1

Information générale sur la structure :
<class 'pandas.core.frame.DataFrame'>
Index: 158837 entries, 0 to 158843
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   SalesID       158837 non-null  int64
 1   Date          158837 non-null  object
 2   Ventes bruts  158837 non-null  int64
 3   Ventes nets   158837 non-null  float64
 4   PaymentType   158837 non-null  object
 5   CustomerID    158837 non-null  int64
 6   shop_id       158837 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 9.7+ MB
None

Valeurs manquantes par colonne :
SalesID         0
Date            0
Ventes bruts    0
Ventes nets     0
PaymentType     0
CustomerID      0
shop_id         0
dtype: int64
--------------------------------------------------